/* ==UserStyle==
@name           SponsorBlock Color-Coded Dropdown
@description    Styles the dropdown list in the submission menu with each categories respective color.
@namespace      sponsorblock-color-coded-dropdown
@homepageURL    https://gist.github.com/jiraph/
@author         jiraph
@version        1.0.0
@preprocessor   stylus
@var color textColor "Text Color" #ffffff
@var checkbox outlineText "Outline Text" 1
@var color outlineColor "Outline Color" #000000
@var color chapterColor "Set Chapter Color" #1c1c1ce6
@var checkbox unsubmittedColors "Use Unsubmitted Category Colors" 0
@var checkbox lockedBold "Make Category Text Bold When Locked (VIP Only)" 1
@var color lockedColor "Change Locked Category Color (VIP Only)" #ffc83d
@var checkbox dropdownStyle "Flat Style Dropdown" 0
==/UserStyle== */

@-moz-document domain("youtube.com") {
    select[class="sponsorTimeEditSelector sponsorTimeCategories"] > option, select[class="sponsorTimeCategories sponsorTimeEditSelector"] > option {
        color: textColor;
        if outlineText {text-shadow: -1px 1px 1px outlineColor, 1px 1px 1px outlineColor,1px -1px 0 outlineColor,-1px -1px 0 outlineColor !important;}
    }
    .sponsorBlockLockedColor {
        color: lockedColor !important;
        if lockedBold {font-weight: bold;}
    }
    .sponsorTimeEditSelector {
        background-color: rgba(28, 28, 28, .9) !important;
        if unsubmittedColors {
        --sb-category-sponsor: var(--sb-category-preview-sponsor);
        --sb-category-selfpromo: var(--sb-category-preview-selfpromo);
        --sb-category-interaction: var(--sb-category-preview-interaction);
        --sb-category-intro: var(--sb-category-preview-intro);
        --sb-category-outro: var(--sb-category-preview-outro);
        --sb-category-preview: var(--sb-category-preview-preview);
        --sb-category-filler: var(--sb-category-preview-filler);
        --sb-category-music_offtopic: var(--sb-category-preview-music_offtopic);
        }
        if dropdownStyle {
        border: solid #0000 !important;
        border-radius: 6px;
        background-color: #333 !important;
        }
    }
    option[value="sponsor"] {
        background-color: var(--sb-category-sponsor) !important;}
    option[value="selfpromo"] {
        background-color: var(--sb-category-selfpromo) !important;}
    option[value="exclusive_access"] {
        background-color: var(--sb-category-exclusive_access) !important;}
    option[value="interaction"] {
        background-color: var(--sb-category-interaction) !important;}
    option[value="poi_highlight"] {
        background-color: var(--sb-category-poi_highlight) !important;}
    option[value="intro"] {
        background-color: var(--sb-category-intro) !important;}
    option[value="outro"] {
        background-color: var(--sb-category-outro) !important;}
    option[value="preview"] {
        background-color: var(--sb-category-preview) !important;}
    option[value="filler"] {
        background-color: var(--sb-category-filler) !important;}
    option[value="music_offtopic"] {
        background-color: var(--sb-category-music_offtopic) !important;}
}